@import url('https://fonts.googleapis.com/css2?family=Inclusive+Sans:ital,wght@0,300..700;1,300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap');

:root {
  color-scheme: light; /* light or dark */
  --base-color: #011265; /* preferred color */

  /* ====== Rest of the code: ========= */
  --mix-color: light-dark(white, rgb(5, 5, 5));
  --pure-white: light-dark(white, black);
  --off-white: light-dark(rgb(230, 230, 230), rgb(10, 10, 10));
  --dk-grey: light-dark(rgb(10, 10, 10), rgb(200, 200, 200));
  --bg: color-mix(in hsl, var(--base-color), var(--mix-color) 100%);
  --body-bg: var(--bg);
  --font-family: 'Inclusive Sans', sans-serif;
  --font-family-code: 'Fira Code', monospace;
  --w3c-classic: var(--base-color);
  --wai-green: var(--base-color);
  --w3c-blue: color-mix(in hsl, var(--base-color), var(--mix-color) 20%);

  --cloudy: light-dark(rgb(200, 200, 200), rgb(50, 50, 50));
  --cloudy-subtle: light-dark(rgb(230, 230, 230), rgb(20, 20, 20));
  --gold: light-dark(white, black);
  --visited-link: var(--w3c-blue);
  --ocean: light-dark(black, white);
  --footer-grey: light-dark(rgb(240, 240, 240), rgb(15, 15, 15));
  --line-grey: light-dark(rgb(230, 230, 230), rgb(20, 20, 20));
  --off-black: light-dark(rgb(0, 0, 0), rgb(190, 190, 190));
  --dk-blue: light-dark(rgb(0, 0, 0), rgb(190, 190, 190));
  --info-box: color-mix(in hsl, var(--base-color), var(--mix-color) 92%);
  accent-color: var(--base-color);

  --passed: 130, 220, 130;
  --failed: 255, 70, 140;
  --cannot-tell: 255, 239, 60;
  --not-present: 160, 160, 160;
}

.visuallyhidden {
  background-color: var(--pure-white);
  color: var(--off-black);
}

* {
  transition: all 0.1s ease;
  box-sizing: border-box;
}

body {
  font-family: var(--font-family);
}

button {
  font-family: var(--font-family);
}

input,
textarea,
select {
  font-family: var(--font-family);
  border-width: 2px;
  padding: 0.4rem 0.5rem;
  border-radius: 4px;
  margin-top: 0.3rem;
}

code,
pre {
  font-family: var(--font-family-code);
}

.app-container {
  background: var(--bg);
}
.HelpText__body,
.Fieldset__helptext,
.SampleInput__helptext {
  background: var(--info-box);
  border: none;
  border-radius: 4px;
}
.tool-header {
  padding: 1rem;
  flex-direction: column;
  gap: 0.5rem;
}
@media (min-width: 60rem) {
  .tool-header {
    flex-direction: row;
  }
}
.tool-header-logo {
  display: none;
}
.nav__item a:hover {
  background: var(--cloudy);
  text-decoration-color: var(--base-color);
}
.LanguageSelect__language {
  &::before {
    content: none;
  }
  margin: 0 0.2rem;
}
.nav__item a:hover,
.nav__item a:focus {
  background: var(--cloudy);
}
.nav__item.current {
  background-color: var(--bg);
  text-decoration: underline;
  text-underline-offset: 6px;
  text-decoration-thickness: 2px;
}
.field:focus-within {
  background-color: transparent;
}
.Field > *:not(:last-child) {
  margin-bottom: 0;
}
.Auditor__ResultsTableHeader {
  z-index: 3;
}

@media (min-width: 60rem) {
  .Auditor {
    display: grid;
    grid-template-columns:
      [left-start] minmax(auto, 12.5em)
      [left-end content-start] 1.25fr
      [content-end];
    grid-gap: 32px;
  }

  .Auditor__Assertion .criterion {
    padding-top: 0.4rem;
  }

  .Auditor__Assertion .criterion-header {
    position: sticky;
    top: 0;
    border-bottom: 1px solid var(--cloudy);
    background-color: var(--pure-white);
    box-shadow: 0 0 0.2rem 0.2rem var(--pure-white);
    padding-top: 0.4rem;
    z-index: 2;
  }

  .Auditor__Filter {
    position: sticky;
    top: 0;
    align-self: start;
    padding-top: 0.4rem;
    overflow-y: auto;
    height: 100vh;
    padding-right: 0.6rem;
  }
}

h5,
h6 {
  font-size: 1rem;
}

.Auditor__Assertion h6::before {
  content: '📄 ';
}

th a:focus,
th a:hover {
  color: var(--base-color);
}

th a,
th a:visited {
  color: var(--visited-link);
}
